{% if ansible_distribution == "FreeBSD" %}
LoadModule dav_module         {{ apache_module_path|default('modules') }}/mod_dav.so
{% endif %}
LoadModule dav_svn_module     {{ apache_module_path|default('modules') }}/mod_dav_svn.so
LoadModule authz_svn_module   {{ apache_module_path|default('modules') }}/mod_authz_svn.so

<Location /svn>
   DAV svn
   SVNParentPath {{ subversion_home }}
{% if ansible_distribution == "CentOS" and ansible_distribution_version.startswith("6") %}
   Allow from all
{% else %}
   Require all granted
{% endif %}
</Location>

<Location /svnauth>
    DAV svn
    SVNParentPath {{ subversion_home }}
    AuthType Basic
    AuthName "Subversion repositories"
    AuthUserFile {{ subversion_home }}/svn-auth-users
    Require valid-user
</Location>
