# cron job to git clone an ansible playbook repo and run locally
ANSIBLE_LIBRARY={{ installdir }}/library
PYTHONPATH={{ installdir }}/lib
PATH=/bin:/sbin:/usr/bin:/usr/sbin:{{ installdir }}/bin

{{ schedule }} {{ cron_user }} ansible-pull -d {{ workdir }} -U {{ repo_url }} -P nodes/{{ ansible_fqdn }}.yml >>{{ logfile }} 2>&1
