[mysqld1]
server_id           = 1
port                = {{ master_port }}
datadir             = {{ master_datadir }}
socket              = {{ master_datadir }}/mysql.sock
pid-file            = {{ master_datadir }}/mysql.pid
mysqladmin          = /usr/bin/mysqladmin
log_bin             = /var/log/mariadb/mysql-bin.log
sync_binlog         = 1
binlog-format       = ROW
innodb_flush_log_at_trx_commit  = 1

[mysqld2]
server_id           = 2
port                = {{ standby_port }}
socket              = /var/run/mysqld/mysqld_slave.sock
pid-file            = /var/run/mysqld/mysqld_slave.pid
datadir             = {{ standby_datadir }}
log_bin             = {{ standby_logdir }}/mysql-bin.log
relay-log           = {{ standby_logdir }}/relay-bin
relay-log-index     = {{ standby_logdir }}/relay-bin.index
master-info-file    = {{ standby_logdir }}/master.info
relay-log-info-file = {{ standby_logdir }}/relay-log.info
mysqladmin          = /usr/bin/mysqladmin

[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
user       = multi_admin
password   = multipass

[mysqld_safe]
log-error={{  mysql_safe_err_log }}
pid-file=/var/run/mariadb/mariadb.pid
