#### Building ####

## General ##

# Build products.. #
*.py[co]
ansible.egg-info/
AUTHORS.TXT
build

# RPM stuff... #
dist
MANIFEST
rpm-build

## Operating systems ##

# Debian #
deb-build
debian/

#### Development ####
#####################

## Python ##

# Virtualenv #
venv

## IDE's ##

# Eclipse/PyDev stuff... #
.project
.pydevproject

# Emacs backup files... #
*~
.\#*

# IntelliJ IDEA stuff.. #
*.iml

# PyCharm stuff... #
.idea

# Sublime stuff #
*.sublime-project
*.sublime-workspace

# Vim swap files #
*.swo
*.swp

## Operating System ##

# Mac OS X stuff...
.DS_Store

## Virtualization ##

# Vagrent #
.vagrant
Vagrantfile

## Testing ##

# Code coverage #
.coverage
coverage.xml
/test/units/cover-html

# In progress tests ?? #
/test/develop

# Shipable #
/shippable/

# Tox #
*.out
*.retry
.tox
results.xml

#### Documentation ####
#######################

## Docsite stuff... ##

docs-api/_build/
docs-api/rst/
docsite/*.html
docsite/htmlout
docsite/rst/list_of_*.rst
docsite/rst/*_module.rst
docsite/rst/modules_by_category.rst
docsite/rst/playbooks_directives.rst
docsite/searchindex.js
docsite/_static/*.gif
docsite/_static/*.png
docsite/_static/websupport.js

## Manpage build stuff... ##

docs/man/man1/ansible.1
docs/man/man1/ansible-doc.1
docs/man/man1/ansible-galaxy.1
docs/man/man1/ansible-playbook.1
docs/man/man1/ansible-pull.1
docs/man/man1/ansible-vault.1
docs/man/man3/*

#### Secrets ####

## Build ##

# Concourse ?? #
credentials.yml
