extends: default

# Disable all cosmetic rules
# (see https://github.com/ansible/ansible/pull/15470#issuecomment-214437876)
# Only keep 'key-duplicates' and 'new-lines: {type: unix}' checks enabled.

rules:
  braces: disable
  brackets: disable
  colons: disable
  commas: disable
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines: disable
  hyphens: disable
  indentation: disable
  key-duplicates: enable
  line-length: disable
  new-line-at-end-of-file: disable
  new-lines: {type: unix}
  trailing-spaces: disable
