[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = "<2.4.0"
cryptography = "<2.2"
PyYAML = "*"
"Jinja2" = "*"
"boto3" = "*"
placebo = "*"
pycrypto = ">=2.6"
mock = "*"
nose = "*"
passlib = "*"
pytest = "<3.3.0"
pytest-mock = "*"
pytest-xdist = "*"
python-memcached = "*"
redis = "*"
requests = "*"
"unittest2" = "*"
netaddr = "*"
ipaddress = "*"
"f5-sdk" = "*"
"f5-icontrol-rest" = "*"
deepdiff = "*"
pyfmg = "*"
xmljson = "*"
junit-xml = "*"
ordereddict = "*"
coverage = "!=4.3.2,>=4.2"
pywinrm = ">=0.3.0"
astroid = "==1.5.3"
pylint = "==1.6.5"
yamllint = "!=1.8.0"
isort = "<4.2.8"
ncclient = ">=0.5.2"
idna = "<2.6"
ntlm-auth = ">=1.0.6"
requests-credssp = ">=0.1.0"
voluptuous = ">=0.11.0"
Sphinx = "<1.6"
requests_ntlm = ">=1.1.0"
argparse = "*"
pycodestyle = "*"
rstcheck = "*"
virtualenv = "*"

[dev-packages]

[requires]
python_version = "3.6"
