# http://www.wiki.uniformserver.com/index.php/SlimFTPd:_Config_File
BindInterface Local
BindPort 21
CommandTimeout 300
ConnectTimeout 15
MaxConnections 20
LookupHosts On

<User "anonymous">
  Password ""
  Mount / "{{ slimftpd_link | replace('\\', '\\\\') }}\\ftp"
  Allow /anon All
  Deny /user All
  Deny /user-pass All
</User>

<User "username">
  Mount / "{{ slimftpd_link | replace('\\', '\\\\') }}\\ftp"
  Allow /anon All
  Allow /user All
  Deny /user-pass All
</User>

<User "userpass">
  Password "password"
  Mount / "{{ slimftpd_link | replace('\\', '\\\\') }}\\ftp"
  Allow / All
</User>
