##-----------------------------------------------------------------------------
## COPYRIGHT 2017, Radware Ltd. All Rights Reserved
## THE USE, COPY OR INSTALLATION OF THIS/THESE FILE/FILES IS SUBJECT
## TO THE RADWARE "END USER LICENSE AGREEMENT" A COPY OF WHICH
## IS PROVIDED WITH THE PACKAGE THAT INCLUDES THIS FILE/FILES AND
## CAN ALSO BE ACCESSED AT  http://www.radware.com/Resources/eula.html
##-----------------------------------------------------------------------------

#property('description', 'Ansible Test mock')

#param($p1, 'int', 'in')
#param($p2, 'int[]', 'out')

#set($p2 = [])
#set($start = 2)
#set($end = 1024)
#set($range = [$start..$end])

#foreach($i in $range)
        #set($j = $adc.readBean('MOCK', $i))
        #if ($adc.isEmpty($j))
                #set($dummy = $p2.add($i))
        #if ($p2.size() == $p1)
                #break
        #end
#end