<?php
require('../wp-blog-header.php');
get_header();
?>

<div class="row">
	<div class="container">
		<?php if (function_exists('bootstrapwp_breadcrumbs')) bootstrapwp_breadcrumbs(); ?>
	</div><!--/.container -->
</div><!--/.row -->

{% macro navBar() %}
<div id="left-sidebar" class="span3 sidebar">
    <div class="side-nav sidebar-block left-side-nav">
      <ul><li><a href="/docs/"><strong>Documentation Home</strong></a></li></ul>
        {% if title == "Ansible Documentation Index" %}
                {{ toctree(maxdepth=1) }}
        {% else %}
                {{ toc }}
        {% endif %}
      <hr />
      <div class="qsButton pagination-centered" />
        <a href="/quickstart"><button class="btn btn-primary" type="button">Quick Start Video</button></a>
      </div>
    </div>
</div>
{% endmacro %}

{# Silence the sidebar's, relbar's #}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}

{%- block content %}
<div class="container doc-content">
<div class="row clear-both">
    <!-- BEGIN LEFT-SIDEBAR -->
    {% block header %}{{ navBar() }}{% endblock %}
    <!-- END LEFT-SIDEBAR -->
     <!-- BEGIN ARTICLE CONTENT AREA -->
    <div class="span8 main-column two-columns-left">
        {% block body %} {% endblock %}
    </div><!-- END ARTICLE CONTENT AREA -->
</div> <!-- class=row -->
</div> <!-- class=container -->
{%- endblock %}

<?php get_footer('home'); ?>
