packaging
requests[security]
xmltodict
azure-cli-core==2.0.74
azure-cli-nspkg==3.0.4
azure-common==1.1.22
azure-mgmt-authorization==0.52.0
azure-mgmt-batch==7.0.0
azure-mgmt-cdn==3.1.0
azure-mgmt-compute==8.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==3.0.0rc5
azure-mgmt-containerservice==7.0.0
azure-mgmt-dns==2.1.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-marketplaceordering==0.2.1
azure-mgmt-monitor==0.5.2
azure-mgmt-network==4.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-redis==6.0.0
azure-mgmt-resource==4.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-servicebus==0.6.0
azure-mgmt-sql==0.12.0
azure-mgmt-storage==4.0.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==0.42.0
azure-nspkg==3.0.2
azure-storage==0.35.1
msrest==0.6.9
msrestazure==0.6.2
azure-keyvault==1.1.0
azure-graphrbac==0.60.0
azure-mgmt-cosmosdb==0.8.0
azure-mgmt-hdinsight==1.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-automation==0.1.1
azure-mgmt-iothub==0.8.2
