#!/usr/bin/make -f
# -- makefile --

DEB_PYTHON2_MODULE_PACKAGES=ansible

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

ifeq ($(shell lsb_release -cs), trusty)
  export ANSIBLE_CRYPTO_BACKEND = pycrypto
endif

