# This is the configuration template for ansible-test GCP integration tests.
#
# You do not need this template if you are:
#
# 1) Running integration tests without using ansible-test.
# 2) Using the automatically provisioned cloudstack-sim docker container in ansible-test.
#
# If you do not want to use the automatically provided GCP simulator,
# fill in the @VAR placeholders below and save this file without the .template extension,
# into the tests/integration directory of the collection you're testing.
# This will cause ansible-test to use the given configuration and not launch the simulator.
#
# It is recommended that you DO NOT use this template unless you cannot use the simulator.

[default]
gcp_project: @PROJECT
gcp_cred_file: @CRED_FILE
gcp_cred_kind: @CRED_KIND
gcp_cred_email: @CRED_EMAIL
