# This is the configuration template for ansible-test VMware integration tests.
#
# You do not need this template if you are:
#
# 1) Running integration tests without using ansible-test.
# 2) Using the automatically provisioned VMware credentials in ansible-test.
#
# If you do not want to use the automatically provisioned temporary VMware credentials,
# fill in the @VAR placeholders below and save this file without the .template extension,
# into the tests/integration directory of the collection you're testing.
# This will cause ansible-test to use the given configuration instead of temporary credentials.
#
# NOTE: Automatic provisioning of VMware credentials requires an ansible-core-ci API key.

[DEFAULT]
vcenter_username: @VMWARE_USERNAME
vcenter_password: @VMWARE_PASSWORD
vcenter_hostname: @VMWARE_HOSTNAME
vmware_validate_certs: @VMWARE_VALIDATE_CERTS
esxi1_username: @ESXI1_USERNAME
esxi1_hostname: @ESXI1_HOSTNAME
esxi1_password: @ESXI1_PASSWORD
esxi2_username: @ESXI2_USERNAME
esxi2_hostname: @ESXI2_HOSTNAME
esxi2_password: @ESXI2_PASSWORD
vmware_proxy_host: @VMWARE_PROXY_HOST
vmware_proxy_port: @VMWARE_PROXY_PORT
