# This is the configuration template for ansible-test Azure integration tests.
#
# You do not need this template if you are:
#
# 1) Running integration tests without using ansible-test.
# 2) Using the automatically provisioned Azure credentials in ansible-test.
#
# If you do not want to use the automatically provisioned temporary Azure credentials,
# fill in the values below and save this file without the .template extension,
# into the tests/integration directory of the collection you're testing.
# This will cause ansible-test to use the given configuration instead of temporary credentials.
#
# NOTE: Automatic provisioning of Azure credentials requires an ansible-core-ci API key in ~/.ansible-core-ci.key

[default]
# Provide either Service Principal or Active Directory credentials below.

# Service Principal
AZURE_CLIENT_ID:
AZURE_SECRET:
AZURE_SUBSCRIPTION_ID:
AZURE_TENANT:

# Active Directory
AZURE_AD_USER:
AZURE_PASSWORD:
AZURE_SUBSCRIPTION_ID:

# Resource Groups
RESOURCE_GROUP:
RESOURCE_GROUP_SECONDARY:
