# edit "black.requirements.in" and generate with: hacking/update-sanity-requirements.py --test black
black==26.5.1
click==8.5.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.7
pytokens==0.4.1
