# edit "black.requirements.in" and generate with: hacking/update-sanity-requirements.py --test black
black==25.1.0
click==8.1.8
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
