# edit "deprecated-config.requirements.in" and generate with: hacking/update-sanity-requirements.py --test deprecated-config
# pre-build requirement: pyyaml == 6.0
# pre-build constraint: Cython < 3.0
Jinja2==3.0.3
MarkupSafe==2.0.1
PyYAML==6.0
