jinja2
pyyaml
resolvelib < 0.10.0
sphinx == 5.3.0
sphinx-notfound-page
sphinx-ansible-theme
straight.plugin
rstcheck < 7  # match version used in other sanity tests
antsibull-docs == 1.9.0  # currently approved version
