# edit "docs-build.requirements.in" and generate with: hacking/update-sanity-requirements.py --test docs-build
aiofiles==0.7.0
aiohttp==3.8.0
aiosignal==1.2.0
alabaster==0.7.12
ansible-pygments==0.1.0
antsibull-core==1.0.0
antsibull-docs==1.0.0
async-timeout==4.0.1
asyncio-pool==0.5.2
attrs==21.2.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.7
docutils==0.17.1
frozenlist==1.2.0
idna==3.3
imagesize==1.3.0
Jinja2==3.0.3
MarkupSafe==2.0.1
multidict==5.2.0
packaging==21.2
perky==0.5.5
pydantic==1.8.2
Pygments==2.10.0
pyparsing==2.4.7
pytz==2021.3
PyYAML==6.0
requests==2.26.0
resolvelib==0.9.0
rstcheck==3.3.1
semantic-version==2.8.5
sh==1.14.2
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-ansible-theme==0.9.1
sphinx-notfound-page==0.8
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
straight.plugin==1.5.0
Twiggy==0.5.1
typing-extensions==3.10.0.2
urllib3==1.26.7
yarl==1.7.2
