# edit "docs-build.requirements.in" and generate with: hacking/update-sanity-requirements.py --test docs-build
aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
ansible-pygments==0.1.1
antsibull-core==1.1.0
antsibull-docs==1.0.0
async-timeout==4.0.2
asyncio-pool==0.6.0
attrs==22.1.0
Babel==2.10.3
certifi==2022.6.15
charset-normalizer==2.1.0
docutils==0.17.1
frozenlist==1.3.1
idna==3.3
imagesize==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.1
multidict==6.0.2
packaging==21.3
perky==0.5.5
pydantic==1.9.1
Pygments==2.12.0
pyparsing==3.0.9
pytz==2022.1
PyYAML==6.0
requests==2.28.1
resolvelib==0.8.1
rstcheck==3.5.0
semantic-version==2.10.0
sh==1.14.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.2.0
sphinx-ansible-theme==0.9.1
sphinx-notfound-page==0.8.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
straight.plugin==1.5.0
Twiggy==0.5.1
typing-extensions==4.3.0
urllib3==1.26.11
yarl==1.8.1
