jinja2
pyyaml
resolvelib < 0.10.0
sphinx == 4.2.0
sphinx-notfound-page
sphinx-ansible-theme
straight.plugin
rstcheck < 4  # match version used in other sanity tests
antsibull-docs == 1.7.3  # currently approved version
