# edit "mypy.requirements.in" and generate with: hacking/update-sanity-requirements.py --test mypy
cffi==2.0.0
cryptography==46.0.3
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mypy==1.18.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
pytest==8.4.2
pytest-mock==3.15.1
resolvelib==1.2.1
tomli==2.3.0
types-backports==0.1.3
types-paramiko==4.0.0.20250822
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
types-setuptools==80.9.0.20250822
types-toml==0.10.8.20240310
typing_extensions==4.15.0
urllib3==2.5.0
