# edit "mypy.requirements.in" and generate with: hacking/update-sanity-requirements.py --test mypy
cffi==1.17.1
cryptography==43.0.1
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy==1.11.2
mypy-extensions==1.0.0
packaging==24.1
pycparser==2.22
tomli==2.0.2
types-backports==0.1.3
types-paramiko==3.5.0.20240928
types-PyYAML==6.0.12.20240917
types-requests==2.32.0.20240914
types-setuptools==75.1.0.20240917
types-toml==0.10.8.20240310
typing_extensions==4.12.2
urllib3==2.2.3
