# edit "mypy.requirements.in" and generate with: hacking/update-sanity-requirements.py --test mypy
cffi==2.1.1
cryptography==50.0.1
iniconfig==2.3.0
Jinja2==3.1.6
librt==0.15.0
MarkupSafe==3.0.3
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pluggy==1.6.0
pycparser==3.0
Pygments==2.21.0
pytest==8.4.2
pytest-mock==3.15.1
resolvelib==1.2.1
tomli==2.4.1
types-backports==0.1.3
types-paramiko==5.0.0.20260724
types-PyYAML==6.0.12.20260815
types-requests==2.33.0.20260712
types-setuptools==84.0.0.20260812
types-toml==0.10.8.20260518
typing_extensions==4.16.0
urllib3==2.7.0
