build
docutils  # required for man page builds by the in-tree PEP 517 backend
jinja2
pyyaml
resolvelib < 1.1.0
rstcheck < 6  # newer versions have too many dependencies
antsibull-changelog
setuptools == 45.2.0  # minimum supported setuptools
