# edit "pymarkdown.requirements.in" and generate with: hacking/update-sanity-requirements.py --test pymarkdown
application_properties==0.8.2
Columnar==1.4.1
pymarkdownlnt==0.9.23
PyYAML==6.0.2
tomli==2.0.2
toolz==1.0.0
typing_extensions==4.12.2
wcwidth==0.2.13
