# edit "pymarkdown.requirements.in" and generate with: hacking/update-sanity-requirements.py --test pymarkdown
application_file_scanner==0.6.4
application_properties==0.9.3
Columnar==1.4.1
py-walk==0.3.3
pyjson5==2.0.1
pymarkdownlnt==0.9.39
PyYAML==6.0.3
sly==0.5
tomli==2.4.1
toolz==1.1.0
typing_extensions==4.16.0
wcwidth==0.8.3
