sphinx == 4.2.0  # required for full rstcheck functionality, installed first to get the correct docutils version
rstcheck < 4  # match version used in other sanity tests
jinja2  # ansible-core requirement
