# edit "rstcheck.requirements.in" and generate with: hacking/update-sanity-requirements.py --test rstcheck
alabaster==0.7.13
Babel==2.11.0
certifi==2022.12.7
charset-normalizer==3.0.1
docutils==0.18.1
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.0
Pygments==2.14.0
pytz==2022.7.1
requests==2.28.2
rstcheck==5.0.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
types-docutils==0.18.3
typing_extensions==4.4.0
urllib3==1.26.14
