# edit "rstcheck.requirements.in" and generate with: hacking/update-sanity-requirements.py --test rstcheck
alabaster==0.7.12
Babel==2.10.3
certifi==2022.6.15
charset-normalizer==2.1.0
docutils==0.17.1
idna==3.3
imagesize==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
Pygments==2.12.0
pyparsing==3.0.9
pytz==2022.1
requests==2.28.1
rstcheck==3.5.0
snowballstemmer==2.2.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.11
