[galaxy]
# Ensures subsequent unstable reruns don't use the cached information causing another failure
cache_dir={{ remote_tmp_dir }}/galaxy_cache
server_list=offline,galaxy_ng,secondary,galaxy_ng_token

[galaxy_server.offline]
url={{ offline_server }}

[galaxy_server.galaxy_ng]
url={{ galaxy_ng_server }}
username={{ galaxy_user }}
password={{ galaxy_password }}

[galaxy_server.secondary]
url={{ amanda }}

[galaxy_server.galaxy_ng_token]
# This server is last to prevent it from being used by tests that don't ask for it
url={{ galaxy_ng_server }}
token={{ galaxy_ng_token.json.token }}
