[galaxy]
# Ensures subsequent unstable reruns don't use the cached information causing another failure
cache_dir={{ remote_tmp_dir }}/galaxy_cache
server_list=offline,galaxy_ng,secondary

[galaxy_server.offline]
url={{ offline_server }}

[galaxy_server.galaxy_ng]
url={{ galaxy_ng_server }}
username={{ galaxy_user }}
password={{ galaxy_password }}

[galaxy_server.secondary]
url={{ amanda }}
