.. _@{ module }@:

@{ module }@
````````

{# ------------------------------------------
 #
 # Please note: this looks like a core dump
 # but it isn't one.
 #
 --------------------------------------------#}

{% if version_added is defined -%}
.. versionadded:: @{ version_added }@
{% endif %}

{% for desc in description -%}
@{ desc | jpfunc }@ 
{% endfor %}

{% if options is defined -%}
.. raw:: html

    <table>
    <tr>
    <td>parameter</td>
    <td>required</td>
    <td>default</td>
    <td>choices</td>
    <td>comments</td>
    </tr>
    {% for (k,v) in options.iteritems()  %}
    <tr>
    <td>@{ k }@</td>
    <td>@{ v.get('required',False) }@</td>
    <td>@{ v['default'] }@</td>
    <td><ul>{% for choice in v.get('choices',[]) -%}<li>@{ choice }@</li>{% endfor -%}</ul></td>
    <td>{% for desc in v.description -%}@{ desc | html_ify }@{% endfor -%}</td>
    </tr>
    {% endfor %}
    </table>
{% endif %}

.. raw:: html

{% for example in examples %}
    <p>@{ example['description'] }@</p>
    <p><pre>
    @{ example['code'] }@</pre></p>
{% endfor %}
    <br/>


