<interfaces>
    <interface>
        <name>lo0</name>
        <unit>
            <name>0</name>
            <family>
                <inet>
                    <address>
                        <name>192.0.2.1/32</name>
                    </address>
                </inet>
            </family>
        </unit>
    </interface>
</interfaces>
