# pip packages required to build docsite
# these requirements are as loosely defined as possible
# if you want known good versions of these dependencies
# use known_good_reqs.txt instead 

antsibull >= 0.34.0
docutils == 0.16 # pin for now until the problem with unordered lists is fixed
# see https://github.com/readthedocs/sphinx_rtd_theme/issues/1115jinja2==3.0.1
jinja2
Pygments >= 2.4.0
PyYAML
rstcheck
sphinx
sphinx-notfound-page >= 0.6
sphinx-intl
sphinx-ansible-theme >= 0.7.0
resolvelib
straight.plugin # Needed for hacking/build-ansible.py which is the backend build script
