<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{ launchd_service_name }}</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/nc</string>
      <string>-k</string>
      <string>-l</string>
      <string>21212</string>
    </array>
  </dict>
</plist>
