Ansible Releases at a Glance
============================

VERSION  RELEASE     CODE NAME
++++++++++++++++++++++++++++++

{% for version in versions %}
{% for vkey, vdata in version.items() %}
{% for release in vdata.releases %}
{% for rkey, rdata in release.items() %}
{% set major_minor = vkey + "." + rkey %}
{{"%-8s"|format(major_minor)}} {{"%-10s"|format(rdata)}}  "{{vdata.code_name}}"
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
