Source: ansible
Section: admin
Priority: optional
Maintainer: Henry Graham (hzgraham) <Henry.Graham@mail.wvu.edu>
Build-Depends: cdbs, debhelper (>= 5.0.0), python-devel, asciidoc
Standards-Version: 3.9.1
Homepage: http://ansible.github.com/ 

Package: ansible
Architecture: all
Depends: python-jinja2, python-yaml, python-paramiko
Description: The Ansible Application
 Ansible is a extra-simple tool/API for doing 'parallel remote things' over SSH
executing commands, running "modules", or executing larger 'playbooks' that
can serve as a configuration management or deployment system.
