# config file for ansible -- http://ansible.github.com
# nearly all parameters can be overridden in ansible-playbook or with command line flags
# ansible will read ~/.ansible.cfg or /etc/ansible/ansible.cfg, whichever it finds first

[defaults]

# location of inventory file, eliminates need to specify -i

hostfile = /etc/ansible/hosts

# location of ansible library, eliminates need to specify --module-path

library = /usr/share/ansible

# default module name used in /usr/bin/ansible when -m is not specified

module_name = command

# home directory where temp files are stored on remote systems.  Should
# almost always contain $HOME or be a directory writeable by all users

remote_tmp = $HOME/.ansible/tmp

# the default pattern for ansible-playbooks ("hosts:")

pattern = *

# the default number of forks (parallelism) to be used.  Usually you
# can crank this up.

forks=5

# the timeout used by various connection types.  Usually this corresponds
# to an SSH timeout

timeout=10

# when using --poll or "poll:" in an ansible playbook, and not specifying
# an explicit poll interval, use this interval

poll_interval=15

# when specifying --sudo to /usr/bin/ansible or "sudo:" in a playbook,
# and not specifying "--sudo-user" or "sudo_user" respectively, sudo
# to this user account

sudo_user=root

# connection to use when -c <connection_type> is not specified

transport=paramiko

# remote SSH port to be used when --port or "port:" or an equivalent inventory
# variable is not specified.

remote_port=22

# if set, always run /usr/bin/ansible commands as this user, and assume this value
# if "user:" is not set in a playbook.  If not set, use the current Unix user
# as the default

#remote_user=root

# if set, always use this private key file for authentication, same as if passing
# --private-key to ansible or ansible-playbook

#private_key_file=/path/to/file

[paramiko_connection]

# nothing to configure yet

[ssh_connection]

# if uncommented, sets the ansible ssh arguments to the following.  Leaving off ControlPersist
# will result in poor performance, so use transport=paramiko on older platforms rather than
# removing it

ssh_args=-o PasswordAuthentication=no -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r


