
HOST stricthostkey
    PreferredAuthentications publickey
    StrictHostKeyChecking yes
    IdentitiesOnly yes
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa

HOST viaproxy
   ProxyCommand ssh %r@sshproxyhost -W %h:%p
    StrictHostKeyChecking no

HOST gssapionly
    GSSAPIAuthentication yes
    GSSAPIKeyExchange no
    PreferredAuthentications gssapi-with-mic
    StrictHostKeyChecking no
    PubkeyAuthentication no
    PasswordAuthentication no
    KbdInteractiveAuthentication no
    ChallengeResponseAuthentication no

HOST nokey
    IdentitiesOnly yes
    IdentityFile ~/src/ansible/ssh_error_tests/this_key_doesnt_exist
    PreferredAuthentications publickey
    StrictHostKeyChecking no

HOST emptykey
    IdentitiesOnly yes
    IdentityFile ~/src/ansible/ssh_error_tests/this_key_is_empty
    PreferredAuthentications publickey
    StrictHostKeyChecking no


HOST tooopen
    IdentitiesOnly yes
    IdentityFile ~/src/ansible/ssh_error_tests/this_key_has_too_open_perms
    PreferredAuthentications publickey
    StrictHostKeyChecking no

HOST passwordonly
    PreferredAuthentications keyboard-interactive,password
    StrictHostKeyChecking no

HOST testhost
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    StrictHostKeyChecking no

HOST badalias
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    HostKeyAlias name_of_key_that_doesnt_exist
    StrictHostKeyChecking no

#HOST badcipher
#    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
#    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
#    StrictHostKeyChecking ask

HOST badcontrolpath
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    ControlPersist yes
    ControlPath ~/a_directory_that_does_not_exist/a_path_that_does_not_exist_%h_%p%r
    StrictHostKeyChecking no

HOST quiethost
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    LogLevel QUIET
    StrictHostKeyChecking no

HOST fatalhost
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    LogLevel FATAL
    StrictHostKeyChecking no

HOST errorhost
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    LogLevel ERROR
    StrictHostKeyChecking no

HOST infohost
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    LogLevel INFO
    StrictHostKeyChecking no

HOST verbosehost
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    LogLevel VERBOSE
    StrictHostKeyChecking no

HOST debughost
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    LogLevel DEBUG
    StrictHostKeyChecking no

HOST debug2host
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    LogLevel DEBUG2
    StrictHostKeyChecking no


HOST debug3host
    PreferredAuthentications publickey,gssapi-with-mic,keyboard-interactive,password
    IdentityFile ~/src/ansible/ssh_error_tests/id_rsa_testhost
    LogLevel DEBUG3
    StrictHostKeyChecking no

Host bastion
    ForwardAgent yes


HOST *
    StrictHostKeyChecking yes
    ConnectionAttempts 1

