.. _@{ slug }@:

{# avoids rST "isn't included in any toctree" errors for module index docs #}
:orphan:

Modules Maintained by the @{ maintainers }@
``````````````````````````@{ '`' * maintainers | length }@

{% for module in modules | sort %}
  {% if module_info[module]['removed'] %}
    {% set marker = '**(R)**' %}
  {% elif module_info[module]['deprecated'] %}
    {% set marker = '**(D)**' %}
  {% else %}
    {% set marker = '' %}
  {% endif %}
  * :ref:`@{ module }@_@{plugin_type}@`@{marker}@
{% endfor %}

.. note::
    - **(D)**: This marks a module as deprecated, which means a module is kept for backwards compatibility but usage is discouraged.
      The module documentation details page may explain more about this rationale.
    - **(R)**: This marks a module as removed, which means the module's documentation is only thing left, kept for historical reasons.

