---
# Rackspace Credentials
rackspace_username:
rackspace_api_key:
rackspace_region:

# AWS Credentials
ec2_access_key:
ec2_secret_key:
security_token:

# GCE Credentials
gce_service_account_email:
gce_pem_file:
gce_project_id:

# Azure Credentials
azure_subscription_id: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}"
azure_cert_path: "{{ lookup('env', 'AZURE_CERT_PATH') }}"

# Cloudflare Credentials
cloudflare_api_token:
cloudflare_email:
cloudflare_zone:
