[windows-ssh]
{% for host in vars.groups.winrm %}
{{ host }}  ansible_host={{ hostvars[host]['ansible_host'] }} ansible_user={{ hostvars[host]['ansible_user'] }}{{ ' ansible_ssh_private_key_file=' ~ hostvars[host]['ansible_ssh_private_key_file'] if (hostvars[host]['ansible_ssh_private_key_file']|default()) else '' }}
{% endfor %}

[windows-ssh:vars]
ansible_shell_type=powershell
ansible_connection=ssh
ansible_port=22
