<?xml version="1.0" encoding="UTF-16"?>
<?TSGateway version="1.0"?>
<TsgServer>
    <ServerName>{{ ansible_hostname }}</ServerName>
    <ServerSettings>
        <MaxConnections>4294967295</MaxConnections>
        <UnlimitedConnections>1</UnlimitedConnections>
        <CentralCapEnabled>0</CentralCapEnabled>
        <RequestSOH>0</RequestSOH>
        <OnlyConsentCapableClients>0</OnlyConsentCapableClients>
        <LogEvents>
            <LogEvent>
                <Name>LogChannelDisconnect</Name>
                <Enabled>1</Enabled>
            </LogEvent>
            <LogEvent>
                <Name>LogFailureChannelConnect</Name>
                <Enabled>1</Enabled>
            </LogEvent>
            <LogEvent>
                <Name>LogFailureConnectionAuthorizationCheck</Name>
                <Enabled>1</Enabled>
            </LogEvent>
            <LogEvent>
                <Name>LogFailureResourceAuthorizationCheck</Name>
                <Enabled>1</Enabled>
            </LogEvent>
            <LogEvent>
                <Name>LogSuccessfulChannelConnect</Name>
                <Enabled>1</Enabled>
            </LogEvent>
            <LogEvent>
                <Name>LogSuccessfulConnectionAuthorizationCheck</Name>
                <Enabled>1</Enabled>
            </LogEvent>
            <LogEvent>
                <Name>LogSuccessfulResourceAuthorizationCheck</Name>
                <Enabled>1</Enabled>
            </LogEvent>
        </LogEvents>
        <AuthenticationPlugin>native</AuthenticationPlugin>
        <AuthorizationPlugin>native</AuthorizationPlugin>
        <ConsentMessageText/>
        <AdminMessageText/>
        <AdminMsgStartDate/>
        <AdminMsgEndDate/>
        <SslBridging>0</SslBridging>
        <HttpIPAddress>*</HttpIPAddress>
        <UdpIPAddress>*</UdpIPAddress>
        <HttpPort>443</HttpPort>
        <UdpPort>3391</UdpPort>
        <IsUdpEnabled>1</IsUdpEnabled>
        <EnforceChannelBinding>1</EnforceChannelBinding>
    </ServerSettings>
    <Caps/>
    <Raps/>
    <ResourceGroups/>
</TsgServer>