test_lookup_template_host: "{{template_host}}"
test_lookup_template_path: "{{template_path}}"
test_lookup_template_mtime: "{{template_mtime}}"
test_lookup_template_uid: "{{template_uid}}"
test_lookup_template_fullpath: "{{template_fullpath}}"
test_lookup_template_run_date: "{{template_run_date}}"
test_lookup_ansible_managed: "{{ansible_managed}}"
