ruamel.yaml < 0.17 ; python_version <= '2.7'  # ruamel.yaml 0.17 and later are not tested with Python 2.7
ruamel.yaml.clib <= 0.2.2 ; python_version < '3.5'  # ruamel.yaml.clib 0.2.3 and later requires Python 3.5 or later
