# This is the configuration template for ansible-test HWC integration tests.
# Please fill in the @VAR placeholders below and save this file without the
# .template extension.

identity_endpoint: @identity_endpoint
user_name: @user_name
password: @password
domain_name: @domain_name
project_name: @project_name
region: @region
