# This is the configuration template for ansible-test cloudscale integration tests.
#
# You do not need this template if you are:
#
# 1) Running integration tests without using ansible-test.
#

[default]
cloudscale_api_token = @API_TOKEN
