# This is the configuration template for ansible-test Digital Ocean integration tests.
#
# You do not need this template if you are:
#
# 1) Running integration tests without using ansible-test.
#
# Fill in the @VAR placeholders below and save this file without the .template extension.
# This will cause ansible-test to use the given configuration instead of temporary credentials.
#

do_api_key: @ACCESS_KEY
do_region: @REGION