[DEFAULT]
vcenter_username: @VMWARE_USER
vcenter_password: @VMWARE_PASSWORD
vcenter_hostname: @VMWARE_HOST
vcenter_port: @VMWARE_PORT
vmware_ssh_port: @VMWARE_SSH_PORT
vmware_validate_certs: @VMWARE_VALIDATE_CERTS
