---
# AWS Credentials
ec2_access_key:
ec2_secret_key:

# GCE Credentials
service_account_email:
pem_file:
project_id:

# GITHUB SSH private key - a path to a SSH private key for use with github.com
github_ssh_private_key: "{{ lookup('env','HOME') }}/.ssh/id_rsa"
