[windows_hosts]
windows
testhost_binary_modules

[windows_hosts:vars]
ansible_connection=winrm
ansible_host=@ansible_host
ansible_user=@ansible_user
ansible_password=@ansible_password
# HTTPS uses 5986, HTTP uses 5985
ansible_port=5986
ansible_winrm_server_cert_validation=ignore

[winrm]
winrm-pipelining    ansible_ssh_pipelining=true
winrm-no-pipelining ansible_ssh_pipelining=false

[winrm:vars]
ansible_connection=winrm
ansible_host=@ansible_host
ansible_user=@ansible_user
ansible_password=@ansible_password
# HTTPS uses 5986, HTTP uses 5985
ansible_port=5986
ansible_winrm_server_cert_validation=ignore
