[aws_ssm]
node1-{{del_instance_id}} instance_id={{del_instance_id}} region={{region_name}}

[aws_ssm:vars]
ansible_connection=aws_ssm_powershell
bucket_name={{del_bucket_name}}

# support tests that target testhost
[testhost:children]
aws_ssm
